/* h1 {
  font-size: 40px;
  color: blue;
}

.me {
  color: green;
}

.brown {
  color: orange;
}

.my {
  text-align: center;
  text-decoration: underline;
}

.new {
  width: 700px;
}

.few {
  width: 609px;
  height: 458px;
}

.ima {
  width: 1400px;
  height: 500px;
}

.five {
  height: 325px;
}

.dis {
  width: 60px;
}

.face {
  width: 60px;
}

.insta {
  width: 60px;
}

.twit {
  width: 60px;
}

.tik {
  width: 60px;
} */


*{
  margin: 0;
  padding: 0;
}


body{
  

  font-family: Arial, Helvetica, sans-serif;
}

header{

  background-color: #333;
  text-align: center;
  padding: 20px;
  color: #fff;
}

nav{
  margin-top: 20px;
}

nav > ul {
  list-style: none;
  text-align: center;

}


nav > ul > li{
  display: inline;
  margin: 10px;
}

nav > ul > li > a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 30px;
}

section{
  background-color:#333;
  
  margin: 20px;

  padding: 20px;
}


.project{

  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 

}

.projects{
  display: flex;
}
